# file
*.out
*.class

# folder
.vscode/
.build/

# antlr4_grammar_check_cpp
antlr4_grammar_check_cpp/runtime/
antlr4_grammar_check_cpp/build/
antlr4_grammar_check_cpp/output_file/
antlr4_grammar_check_cpp/.antlr/

# antlr4_JS_grammar_check_cpp
antlr4_JS_grammar_check_cpp/build
antlr4_JS_grammar_check_cpp/runtime/
antlr4_JS_grammar_check_cpp/.antlr/

# antlr4_original_grammar_check_java
antlr4_original_grammar_check_java/.antlr/


# wat_original_grammar_check_java
wat_original_grammar_check_java/.antlr/

# wat_original_grammar_check_java
wat_grammar_check_java/.antlr/

# wasm_fuzz
wasm_fuzz/V8/hello_world
wasm_fuzz/V8/wasm

# AFLplusplus_v4.09c
AFLplusplus_v4.09c/custom_mutators/antlr4_test/antlr_parser/.antlr/
AFLplusplus_v4.09c/custom_mutators/antlr4_test/CMakeFiles/
AFLplusplus_v4.09c/custom_mutators/wasm_grammar_mutator/.github/
AFLplusplus_v4.09c/custom_mutators/wasm_grammar_mutator/wasm-grammar/.antlr/
AFLplusplus_v4.09c/afl-gcc*
AFLplusplus_v4.09c/afl-clang*
AFLplusplus_v4.09c/afl-llvm*
AFLplusplus_v4.09c/afl-persistent-config
AFLplusplus_v4.09c/utils/aflpp_driver/aflpp_driver_test
